.u-section-2 .u-icon-1 {
    width: 64px;
    height: 64px;
    margin: 7px auto 0;
}

.u-section-2 .u-btn-1 {
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    margin: 30px auto 0;
}

