/* diamond */

.yellow-diamond {
  width: 20px;
  height: 20px;
  background-image: url("/static/portfolio/images/yellow-diamond.png");
  background-repeat: no-repeat;
  animation: diamond-rotate 2s infinite linear;
}

.red-diamond {
  width: 20px;
  height: 20px;
  background-image: url("/static/portfolio/images/red-diamond.png");
  background-repeat: no-repeat;
  animation: diamond-rotate 2s infinite linear;
}

.purple-cross {
  width: 20px;
  height: 20px;
  background-image: url("/static/portfolio/images/purple-cross.png");
  background-repeat: no-repeat;
  animation: diamond-rotate 2s infinite linear;
}

.pink-diamond {
  width: 20px;
  height: 20px;
  background-image: url("/static/portfolio/images/pink-diamond.png");
  background-repeat: no-repeat;
  animation: diamond-rotate 2s infinite linear;
}

.purple-diamond {
  width: 20px;
  height: 20px;
  background-image: url("/static/portfolio/images/purple-diamond.png");
  background-repeat: no-repeat;
  animation: diamond-rotate 2s infinite linear;
}

/* animation */

@keyframes diamond-rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

/* common */

.container {
  display: flex;
  justify-content: center;
  margin: 5vh 10vw 5vh 10vw;
}

.flex {
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}


footer {
  position: absolute;
  width: 100vw;
  bottom: -3em;
}

/* signup */
.u-section-1 .u-sheet-1 {
  min-height: 80vh;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 10vh 0;
}

.u-section-1 .u-container-layout {
  min-height: 70vh;
}

.u-section-1::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100vw;
  background-image: url("/static/portfolio/images/purple-bg.png");
  background-size: 100% 75%;
  background-position: bottom -33% right 0;
  background-repeat: no-repeat;
}

.u-section-1 .u-container-layout-1 {
  box-shadow: 0 0 10px 3px gray;
  clip-path: inset(-10px 0px 0px 0px);
  padding: 30px 0;
  background-image: url("/static/portfolio/images/signup-thumb.png");
  background-color: #DEEBF7;
  background-size: 80% 60%;
  background-repeat: no-repeat;
  background-position: bottom 40% left 50%;
}

.u-section-1 .u-text-1 {
  margin: 5px auto;
  font-size: 40px;
}

.u-section-1 .u-container-layout-2 {
  box-shadow: 0 0 10px 3px gray;
  clip-path: inset(-10px 0px 0px 1px);
  padding: 30px;
}

#form::before {
  content: "";
  width: 1px;
  height: 100%;
  background: white;
  position: absolute;
  left: -1px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 669px;
  }

  .u-section-1 .u-image-1 {
    min-height: 448px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 448px;
  }

  .u-section-1 .u-form-1 {
    width: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 564px;
  }

  .u-section-1 .u-image-1 {
    min-height: 343px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-form-1 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 836px;
  }

  .u-section-1 .u-image-1 {
    min-height: 515px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 524px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 645px;
  }

  .u-section-1 .u-image-1 {
    min-height: 324px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-20%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(20%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

label {
  margin-right: 20px;
}

input {
  width: 75%;
  padding: 5px 0;
  border: 2px black dashed;
  border-radius: 7px;
}

input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  outline: none;
  margin-right: 5px;

  position: relative;
  top: 4px;
}

input[type=radio]:checked {
  border: 6px solid black;
}

select {
  appearance: none;
  border: none;
  border-radius: 5px;
  width: 100%;
  margin-left: 5px;
  text-align: center;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

select::-ms-expand {
  display: none;
}

.select {
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 2px solid gray;
  border-radius: 0.5em;
  padding-right: 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
}

.select-wrapper {
  width: 90%;
}

.select-wrapper::after {
  content: "";
  border-right: 2px solid gray;
  border-radius: 5px;
  position: relative;
  right: 10px;
  top: 1px;
}

.select::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  margin-left: 5px;
  justify-self: end;
  background-color: black;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}


.row:has(input) {
  margin: 5vh 0;
  font-size: 23px;
}

.row:has(input[type='radio']) {
  font-size: 1.25rem;
}

#extra-question {
  width: 100%;
}

#extra-question>div {
  width: 45%;
  margin: 0 2.5%;
}

#question-middle {
  width: 1px !important;
  margin: 0 2.5% 0 2.5% !important;
  height: 25vh;
}

.bordered {
  /* display: inline-block; */
  /* padding: 20px; */
  /* Fallback dashed border
     - the 4px width here is overwritten with the border-image-width (if set)
     - the border-image-width can be omitted below if it is the same as the 4px here
  */
  border-right: dashed 4px #000;

  /* Individual border image properties */
  border-image-source: url("http://i.stack.imgur.com/wLdVc.png");
  border-image-slice: 2;
  border-image-repeat: round;

  /* or use the shorthand border-image */
  border-image: url("http://i.stack.imgur.com/wLdVc.png") 2 round;
}


/*The border image of this one creates wider gaps*/
.largeGaps {
  border-image-source: url("http://i.stack.imgur.com/LKclP.png");
  margin: 0 20px;
}

.yellow-diamond {
  position: absolute;
  left: 8vw;
  top: 25vh;
}

.red-diamond {
  position: absolute;
  right: 4vw;
  top: 30vh;
}

.purple-cross {
  position: absolute;
  right: 10%;
  bottom: 5%;
  z-index: 1000;
}

.pink-diamond {
  position: absolute;
  left: 35%;
  bottom: 8%;
  z-index: 1000;
}

.purple-diamond {
  position: absolute;
  left: 22%;
  top: 5%;
}

footer {
  bottom: -5em;
}